# Database
DATABASE_URL=postgresql+asyncpg://user:password@localhost/{{ project_name }}

# LLM Keys
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GEMINI_API_KEY=

# LangSmith (Optional)
ENABLE_LANGSMITH={{ enable_langsmith | lower }}
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT={{ project_name }}
